

    <div class="topnav">
      <div class="row">
        <div class="pull-left" style="margin-left: 1%;">
          <img src="./assets/logo.png" style="width: 100px;">
        </div>

        <div class="classSearch">
            <form class="form-inline ">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" style="width:50%;">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
        </div>


        <div class="pull-right classHeaderSignin">
          <span>Sign in</span>
          &nbsp;
          <span>Sign up</span>
        </div>
      </div>
    </div>


