<div class="">
  <div class="classFooter">
    <div style="padding: 15px; border-right: 1px solid #454d5e;width:30%;float:left;margin: 15px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7565.740823225136!2d73.88037349999999!3d18.534757300000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b3d9df5b43f5c34!2sJava+classes%2C+Angularjs%2C+MeanStack%2C+Andriod+Training+in+Pune!5e0!3m2!1sen!2sin!4v1535021172122" width="300" height="150" frameborder="0" style="border:1px solid silver;" allowfullscreen></iframe>
    </div>
    <div style="padding: 15px;width:30%;float: left;border-right: 1px solid #454d5e;margin: 15px;">
        <div>
           <span class="classFooterHeading" style="">Mail us:</span>
        </div>
        <p>&nbsp;</p>
        <div style="color:#fff;line-height: 0.7;">
            <p>Halsey Pvt Ltd Block B (Begonia), </p>
            <p> Ground Floor, Embassy Tech Village, </p>
            <p> Outer Ring Road, Devarabeesanahalli Village, </p>
            <p> Varthur Hobli, Bengaluru East Taluk, </p>
            <p> Bengaluru District, </p>
            <p> Karnataka, India, 560103.</p>
        </div>
    </div>
    <div style="padding: 15px;width:30%;float: left;margin: 15px;">
        <div>
            <span style="color: #878787;font-size: 15px;font-weight: bold;">Contact us:</span>
        </div>
        <div style="margin-top: 20px;">
            <img src="./assets/social_icons/facebook.png" class="classImgSocialIcon">
            <img src="./assets/social_icons/instagram.png" class="classImgSocialIcon">
            <img src="./assets/social_icons/linkedin.png" class="classImgSocialIcon">
            <img src="./assets/social_icons/pinterest.png" class="classImgSocialIcon">
            <img src="./assets/social_icons/twitter.png" class="classImgSocialIcon">
        </div>
    </div>
  </div>
</div>


