<div class="classInnerContainer">
  <ul>
    <li *ngFor = "let cloth of mClothing">
      <div class="col-md-3 classCard1" *ngFor = "let fWear of cloth.western_wear" style="width: 23%;height:370px;margin-bottom: 10px;">
            <div class="classImage">
                <img [src]='fWear.imgUrl' alt="Avatar" [ngStyle]="{'width':'130px','height':'230px'}">
            </div>
            <div class="classContainer">
              <div><a href= '#'>{{fWear.product_name}}</a></div>
              <div class="classPrice">{{fWear.price | currency:'INR'}}</div>
              <div class="classRetailPrice">{{fWear.retail_price | currency:'INR'}}</div>
            </div>
      </div>
      &nbsp;
    </li>
  </ul>
</div>
